@model AdmissionSystem.Web.Areas.Admission.Models.RegistrationEntryModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section class="content">
    <div class="card o-hidden border-0 shadow-lg my-4">
        <!--Left Column -->
        <div class="card-body p-0">
            <!-- general form elements -->
            <div class="p-5">

                <div class="text-center">
                    <h3 class="h4 text-gray-900 mb-4">Registration Form!!</h3>
                </div>
                <!--/.box-header-->
                <!--form start-->
                @using (Html.BeginForm("Edit", "RegistrationMaster", new { area = "Admission" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                @Html.HiddenFor(x => x.id)
                                <label>Registration No:</label>
                                @Html.EditorFor(m => m.RegistrationNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", } })
                                @Html.ValidationMessageFor(m => m.RegistrationNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                <label>Registration Amount</label>
                                @Html.EditorFor(m => m.RegistrationAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(m => m.RegistrationAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>Select Course:</label>
                                @Html.DropDownList("CourseId", null, "Select Course", htmlAttributes: new { @class = "form-control", @onchange = "BindClass()" })
                                @Html.ValidationMessageFor(m => m.CourseId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                <label>Select Class:</label>
                                @Html.DropDownList("ClassId", null, "Select Course", htmlAttributes: new { @class = "form-control", })
                                @Html.ValidationMessageFor(m => m.ClassId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                <label>Mobile No:</label>
                                @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @placeholder = "Enter Mobile Number", @class = "form-control", } })
                                @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <label>Student Name:</label>
                                @Html.EditorFor(m => m.StudentName, new { htmlAttributes = new { @placeholder = "Enter Student Name", @class = "form-control", } })
                                @Html.ValidationMessageFor(m => m.StudentName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                <label>Father Name:</label>
                                @Html.EditorFor(m => m.FatherName, new { htmlAttributes = new { @placeholder = "Enter Father Name", @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.FatherName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4">
                                <label>Address:</label>
                                @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @placeholder = "Enter Address", @class = "resizer form-control", } })
                                @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!--/.box-body-->
                    <div class="box-footer" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="@Url.Action("Index", "RegistrationMaster", new { area = "Admission"})" class="btn bg-maroon margin">Back To List</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

