@model AdmissionSystem.Web.Areas.Admission.Models.ClassMasterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Class List</strong>
                    <div class="card-tools">
                        <div class="input-group input-group-sm hidden-xs">
                            <div class="input-group-btn">
                                <a href="@Url.Action("Create","ClassMaster", new { area = "Admission"})" class="btn btn-block btn-info">Create Class</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / .box-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Course Name</th>
                                <th>Class Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ClassList.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model.ClassList[i].CourseName)</td>
                                    <td>@Html.DisplayFor(model => model.ClassList[i].ClassName)</td>
                                    <td>
                                        <a href="@Url.Action("Edit","ClassMaster", new { area = "Admission",ClassId=Model.ClassList[i].Id})" class="btn btn-warning"><i class="fa fa-pencil"></i></a>&nbsp;
                                        <a href="@Url.Action("Delete","ClassMaster", new { area = "Admission",ClassId=Model.ClassList[i].Id})" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .card-title {
        font-size: 24px; /* You can adjust this value to increase or decrease the font size */
    }
</style>

<script>
    $(document).ready(function () {
        var unauthorized = '@TempData["message"]';
        if (unauthorized != "") {
            swal(unauthorized, "", "success");
        }
        else {

        }

    });
</script>

